-c requirements.txt
bandit
black
gpustat
gradescope-utils
grequests # admin
itermplot
jupyterlab
matplotlib
mypy
nltk
pycodestyle
pydocstyle
pylint
pytest
pyyaml
redlock-py
tornado
safety
scipy
pillow
wandb
wincertstore==0.2
git+https://github.com/wookayin/gpustat@master#egg=gpustat
windows-curses